.App {
  margin: 0 auto;
  min-width: 512px;
  max-width: 728px;
  text-align: center;
}

.App header {
  align-items: center;
  background-color: #0596DE;
  border: solid 2px black;
  box-sizing: border-box;
  color: white;
  display: flex;
  height: 10vh;
  min-height: 50px;
  width: 100%;
  max-width: 728px;
  padding: 10px;
  position: fixed;
  text-align: center;
  top: 0;
  z-index: 99;
}

.App section {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 396px;
  max-height: 512px;
}

body {
  background-color: white;
}

button {
  background-color: #282c34; /* Green */
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 1.25rem;
  padding: 12px 5px;
  text-align: center;
  text-decoration: none;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.4;
}

form {
  background-color: rgb(24, 23, 23);
  bottom: 0;
  border-top: solid 2px black;
  border-left: solid 2px black;
  border-right: solid 2px black;
  display: flex;
  font-size: 1rem;
  height: 10vh;
  width: 100%;
  max-width: 728px;
  position: fixed;
}

form button {
  background-color: rgb(56, 56, 143);
  border-left: solid 2px black;
  border-right: solid 2px black;
  font-size: 0.75rem;
  width: 20%;
}

h1 {
  font-family: "Montserrat", arial, sans-serif;
  text-align: left;
}

input {
  background: rgb(58, 58, 58);
  border: 2px;
  color: white;
  font-size: 1rem;
  line-height: 1.5;
  outline: none;
  padding: 0 10px;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  height: 80vh;
  margin: 10vh 0;
  margin-top: 8vh;
  padding: 10px;
  overflow-y: scroll;
}

main::-webkit-scrollbar {
  width: 0.75rem;
}

main::-webkit-scrollbar-track {
  background: #0596DE;
  border-left: solid 2px black;
  border-right: solid 2px black;
}

main::-webkit-scrollbar-thumb {
  background: white;
  border: solid 2px black;
}

p {
  border-radius: 25px;
  color: white;
  line-height: 15px;
  max-width: 250px;
  margin-bottom: 0px;
  padding: 10px 20px;
  position: relative;
}

ul, li {
  list-style: none;
  text-align: left;
}

.logo_doctolib {
  height: 45px;
  width: 105px;
  margin: 10px;
}

.message {
  overflow-wrap: break-word;
}

.received p {
  background: #e5e5ea;
  color: #0596DE;
  float: right;
  max-width: 240px;
  text-align: right;
}

.sent p {
  background: #0596DE;
  color: white;
  float: left;
  max-width: 240px;
  text-align: left;
}

.icslink {
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  padding: 12px 5px;
  text-align: center;
  text-decoration: none;
}